body {
  background-image: url(panda.jpeg.jpg);




}
.header h1{
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.header{
  display: -webkit-flex;
  display:flex;
  background-color: grey;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

}
.container-1 {
  display:flex;
  text-align: center;
  height: 600px;
}
.container-1 div {
  border: 1px solid black;
  padding: 10px;

}
.box-1{
  flex: 1;
  order: 1;
  background-color: grey;

}
.box-2{
flex: 4;
order: 2;
background-color: white;
border: 1px solid black;

}
.box-3{
  flex: 4;
  order: 3;
  background-color: white;
}
.box-4{
  flex:4;
  order:4;
  background-color: white;


}
.box-2 p{
  text-align: left;
}
nav ul{
  text-align: left;
}
.login {
  display: column;
  border: 1px solid black;
}
